---
import Layout from "../../layouts/Layout.astro";
import ContactForm from "../../components/ContactForm.svelte";
import Hr from "../../components/Hr.svelte";
import ScrollButton from "../../components/ScrollButton.svelte";
import Introduction from "../../components/Introduction.svelte";
import ThirdSection from "../../components/ThirdSection.svelte";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentLang = Astro.url;
---

<Layout title={t("site.title")}>
  <main>
    <section class="text-center py-16 bg-gray-100 mb-12 mt-12">
      <div>
        <Hr
          Tag="h1"
          lang={t("section1.hr")}
          className="text-4xl font-bold relative"
          client:idle
        />
        <p class="mt-4 text-lg">
          {t("section1.par")}
        </p>
        <ScrollButton
          ClassN="info"
          client:visible
          langButton={t("section1.button")}
          client:idle
        />
      </div>
    </section>
    <section id="info" class="sm:container p-6 sm:mx-auto mb-12">
      <div class="text-center mb-12">
        <Hr
          Tag="h2"
          lang={t("section2.hr")}
          sectionName="intro"
          className="text-3xl font-bold relative"
          client:idle
        />
      </div>
      <Introduction currentLanguage={currentLang} client:load />
    </section>
    <section class="mb-12 bg-gray-100 p-6">
      <div class="text-center mb-[100px]">
        <Hr
          Tag="h2"
          lang={t("section3.hr")}
          className="text-3xl font-bold relative"
          client:idle
        />
      </div>
      <ThirdSection
        projectProps={{
          projectName1: t("section3.projectName1"),
          title1: t("section3.title1"),
          par11: t("section3.par11"),
          par12: t("section3.par12"),
          par13: t("section3.par13"),
          projectName2: t("section3.projectName2"),
          title2: t("section3.title2"),
          par21: t("section3.par21"),
          par22: t("section3.par22"),
          par23: t("section3.par23"),
          par24: t("section3.par24"),
          projectName3: t("section3.projectName3"),
          title3: t("section3.title3"),
          par31: t("section3.par31"),
          par32: t("section3.par32"),
          par33: t("section3.par33"),
        }}
        button={t("section3.button")}
        client:idle
      />
    </section>
    <section class="container mx-auto mt-12 px-4">
      <Hr
        Tag="h2"
        lang={t("section4.hr")}
        className="text-center text-3xl font-bold relative"
        client:idle
      />
      <ContactForm
        name={t("section4.name")}
        email={t("section4.email")}
        message={t("section4.message")}
        submit={t("section4.submit")}
        client:idle
      />
    </section>
  </main>
</Layout>
